# Pycharm files
*.pyc
.idea/
.DS_STORE
_*

# .gitignore exceptions for dev purposes-- will be removed later
!_processed.json
!database/_suspicious

!security/_keys
!_embedding_keys.txt
!_name_keys.txt